@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-300; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply dark:bg-slate-800; /* Default background color for dark mode */
  background-image: url(../public/bg-paw.png);
  background-attachment: fixed;
}

/* Apply dark mode styles using the 'dark' class */
.dark {
  @apply bg-slate-800; /* Change this color to your desired dark mode background color */
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.slide-out{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  transform-origin: bottom;
}
